.card {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px;
  min-height: 100px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.content {
  padding: 0.525rem;
}


.body {
  max-width: var(--content);
  padding: 1px;
}

.image {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/12;
  object-fit: cover;
  border-radius: var(--round-md);
}

.indicator {
  position: absolute;
  right: 0;
  background-color: hsl(var(--accent));
  color: hsl(var(--bkg));
  border-radius: var(--round-full);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  padding: var(--space-sm);
  transform: translate(50%, -50%);
}

.MainCard {

    display: flex;
    place-items: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    justify-content: space-around;

}